extends base.pug

block scripts 
  script(src='/static/index.js')

block style
    style 
      include ../static/style.css
      include ../static/styleabout.css

block content
    div.container
        h1 About Us
            pabout Battle royale games are played between many individual players, pairs of two players or a number of small squads (typically of 3-5 players). In each match, the goal is to be the last player or team standing by eliminating all other opponents. A match starts by placing the player-characters into a large map space, typically by having all players skydive from a large aircraft within a brief time limit. The map may have random distribution or allow players to have some control of where they start. All players start with minimal equipment, giving no player an implicit advantage at the onset. Equipment, usually used for combat, survival or transport is randomly scattered around the map, often at landmarks on the map, such as within buildings in ghost towns. Players need to search the map for these items while avoid being killed by other players, who cannot be visually marked or distinguishable either on-screen or on the map, requiring the player to solely use their own eyes and ears to deduce their positions. Equipment from eliminated players can usually be looted as well. 