extends base.pug

block scripts 
  script(src='/static/index.js')

block style
    style
      include ../static/style.css
      include ../static/styleservices.css

block content
    h1 Our Services
      div.container
        div.card
            h3 Shadow
              p Advance of all 
        div.card
            h3 Vortex
              p Full access to the machine
        div.card
            h3 Luna
              p Experience 4k like never before